@font-face {
    font-family: 'Franklin_Medium';
    src: url('../fonts/franklin_gothic_medium.woff') format('woff'),
        url('../fonts/franklin_gothic_medium.woff2') format('woff2')
}

@font-face {
    font-family: 'Impact_Regular';
    src: url('../fonts/impact.woff') format('woff'),
        url('../fonts/impact.woff2') format('woff2')
}

body {
    font-family: Arial, "sans-serif";
}

.container {
    width: 100%;
    margin: 0 auto;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    
    z-index: 1000;
}

.nav__link {
    display: inline-block;
    color: #fff;
    transition: all 0.1s;
    transform: scale(1);
}

.nav__link:visited {
    color: #fff;
}

.nav__link:hover {
    color: #ef9de9;
    
    transform: scale(1.1);
}

.logo {
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 380px;
    
    float: left;
    -webkit-animation: coming 2s;
    -o-animation: coming 2s;
    animation: coming 2s;
    
    
}

.menu {
    float: left;
    padding-left: 432px;    
}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;    
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    opacity: 0;
    
    -webkit-animation: topshift 0.4s forwards;    
    -o-animation: topshift 0.4s forwards;
    animation: topshift 0.4s forwards;  
    
}

main {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url("../img/bg.jpg") center/cover no-repeat;
}

.title__container {
    float: left;
    margin: 432px 0 0 404px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    
    -webkit-animation: titlemove 0.6s ease forwards;
    -o-animation: titlemove 0.6s ease forwards;
    animation: titlemove 0.6s ease forwards;
    -webkit-animation-delay: 1.2s; 
    -o-animation-delay: 1.2s;
    animation-delay: 1.2s;
    
}

.title__container h1 {
    font-size: 60px;
    font-weight: bold;
}

.title__container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #2c384a;
}

.title__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0 16px;
    margin: 50px 14px 0 14px;
    transition: all 0.2s;
    transform: scale(1)
}

.title__container input:hover {
    color: #fff;
    background: #344051;
}

.title__container input:active {
    transform: scale(1.1)
}
/* About 
============*/
.about__me {
    text-align: center;
    margin: 108px 0 98px;
}

.title__h2 {
    color: #263244;
    font-family: 'Franklin_Medium';
    font-size: 33px;
    text-transform: uppercase;    
}

.title__h2:after {
    content: "";
    display: block;
    width: 70px;
    height: 5px;
    background-color: #d17700;
    margin: 30px auto 0;
}

.about__photo {
    height: 200px;
    border-radius: 50%;
    margin: 60px 0 25px;
    
}

.about__text p {
    font-size: 17px;
    padding-bottom: 40px;
}

.about__download {
    font-family: 'Franklin_Medium';
    font-size: 13px;
    color: #6f707e;      
    
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    
    padding: 8px 16px;
    transition: all 0.2s;
}

.about__download:hover {
    color: #fff;
    background: #344051;
}

.about__download:active {
    transform: scale(1.1)
}

/* Knowledge
==============*/
.section__knowledge {
    height: 520px;
    background: url('../img/knowledge.jpg'); 
    text-align: center;
    margin: 108px 0 0;
    padding: 105px 0 0;
    padding-left: 15%;
    padding-right: 15%;
}

.knowledge {
    display: flex;
    flex-wrap: wrap;
    
    margin: 95px 0;
}

.section__item {
    width: 25%;
    margin: 25px 0;
    
    -webkit-animation: skills 2s ease forwards;
    -o-animation: skills 2s ease forwards;
    animation: skills 2s ease forwards;
}

.knowledge__img {
    transform: rotateY(0deg);
    transition: transform .5s;
}

.knowledge__img:hover {
    z-index: 5;
    transform: rotateY(45deg);
}

.section__item h5 {
    padding: 32px 0 13px;
}

.section__item h5 {
    color: #cf7600;
    font-size: 18px;
    font-weight: 600;
}

.section__item p {
    color: #3f495a;
    font-size: 16px;
    font-weight: 400;
    
}

/* Case 
=========*/
.section__case {
    text-align: center;
    margin: 108px 0 98px;
}

.case__paragraph {
    margin: 40px 0;
}

.case__description {
    display: flex;
    justify-content: center;
    
    margin-top: 40px;
}

.case__title {
    font-family: 'Franklin_Medium';
    font-size: 25px;
    color: #384354;
    
    text-transform: uppercase;
    text-align: left;
    
    margin-right: 70px;
}


.case__title p {
    font-family: Calibri, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #384354;
    text-transform: none;
    padding: 8px 0;
}

.case__title input {
    font-family: 'Franklin_Medium';
    font-size: 20px;
    color: #fff;
    background: #63b5ae;
    border-radius: 5px;
    padding: 12px 40px;
    border: 0;
    transition: all 0.1s;
    
}

.case__title input:hover {
    background: #3e918a;
}

.case__article {
    font-family: 'Franklin_Medium';
    font-size: 25px;
    color: #384354;
    text-align: start;
}

.case__article p {
    font-family: Calibri, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #384354;
}

/* Price
==========*/
.section__price {
    text-align: center;
    margin-top: 108px;
}

.title__price {
    font-family: 'Franklin_Medium';
    font-size: 46px;
}

form {
    width: 890px;
    margin: 0 auto;
}

.form__paragraph {
    font-family: 'Franklin_Medium';
    font-size: 29px;
    text-transform: uppercase;
    text-align: left;
}

.select__form {
    width: 100%;
    font-family: 'Franklin_Medium';
    font-size: 17px;
    background: #eee;    
    
    margin: 20px 0 45px;
    padding: 25px 20px;
}

.cost {
    border-top: 2px solid #d1d1d1;
    padding-top: 20px
}

.timeing__site {
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    font-family: 'Franklin_Medium';
    color: #1c2534;
}

.price__site {
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    font-family: 'Franklin_Medium';
    color: #1c2534;
}

.cost span {
    font-size: 29px;
}

/* Statistics
===============*/
.section__statistics {
    text-align: center;
    background: url(../img/statistics.jpg) no-repeat;
    background-size: cover;
    height: 500px;
    background-attachment: fixed;
    padding-top: 100px;
}

.parallax {
    height: 100px;
}

.statistics {
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    
    padding-top: 85px;
}

.section__item div {
    font-family: 'Impact_Regular';
    font-size: 37px;
    color: #323d4f;
    padding-top: 30px;
}

.section__item div {
    transform: rotateY(0deg);
    transition: transform .5s;
}

.section__item div:hover {
    
    transform: rotateY(-35deg);
    
}

.section__item p {
    font-family: 'Franklin_Medium';
    font-size: 17px;
    color: #323d4f;
    
    text-transform: uppercase;
    padding-top: 30px;
}

/* Reviews
============*/
.section__reviews {
    text-align: center;
    margin: 100px 0 90px;
}

.reviews__img {
    padding-top: 60px;
}

.reviews__text {
    padding-top: 30px;
}

.reviews__text p {
    font-family: 'Calibri', 'sans-serif';
    font-size: 17px;
    font-weight: 400;
}

.reviews__text p:last-child {
    padding-top: 35px;
}

.reviews__text p span {
    font-weight: 800;    
}

/* Contacts
=============*/
.section__contacts {
    height: 808px;
    color: #fff;
    text-align: center;
    background: url('../img/my__contacts.jpg') no-repeat;
    background-size: cover;
    padding-top: 140px;
    
}

.title__white {
    color: #fff;
}

.subtitle__contacts {
    padding-top: 30px;
}

.contacts__inner {
    display: flex;
    justify-content: center;
    
    padding-top: 50px;
    
    z-index: 500;
}

.contacts__item {
    margin: 0 55px;
    transition: all .2s;
}

.contacts__item:hover {
    transform: scale(1.1);
    
}

.contacts__item img {
    padding-bottom: 12px;
}

.contacts-link {
    color: #fff;
    
}

.contacts-link:hover {
    text-decoration: underline;
    
}

form div {
    font-family: 'Franklin_Medium';
    font-size: 21px;
    text-transform: uppercase;
    padding-top: 35px;
}

.input__text {
    display: flex;    
}

.input__form {
    width: 48%;
    font-family: 'Franklin_Medium';
    font-size: 17px;
    background: #d1d5db;
    padding: 12px 0 12px 15px;
    margin-right: 4%;
}

.input__form:last-child {
    margin-right: 0;
}

.textarea__text {
    display: block;
    width: 100%;
    font-family: 'Franklin_Medium';
    font-size: 17px;
    background: #d1d5db;
    resize: none;
    padding: 12px 0 45px 15px;
    margin-top: 2%;
}

.input__contacts {
    height: 40px;
    font-family: 'Franklin_Medium';
    font-size: 20px;
    color: #fff;
    background: none;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 0 16px;
    margin-top: 30px;
    transition: all .3s;
}

.input__contacts:hover {
    background: #fff;
    color: #000;
}

.copyright {
    height: 92px;
    font-family: 'Arial';
    font-size: 13px;
    line-height: 92px;
    text-align: center;
    color: #fff;
    background: #354051;
}


@keyframes coming {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -60px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

.menu li:nth-child(2) {
    animation-delay: 0.2s;
}

.menu li:nth-child(3) {
    animation-delay: 0.4s;
}

.menu li:nth-child(4) {
    animation-delay: 0.6s;
}

.menu li:nth-child(5) {
    animation-delay: 0.8s;
}

.menu li:nth-child(6) {
    animation-delay: 1s;
}

@keyframes titlemove {
    from {
        opacity: 0;
        margin-left: -500px;
    }
    to {
        opacity: 1;
        margin-left: 404px;
    }
}

@keyframes skills {
    from {
        opacity: 0;
        margin-top: 200px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}

/* Preloader
=============*/
.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

